<h1>My Cakes</h1>
<ul class="cake">
  <li *ngFor="let cake of cakes"
  (click)="onSelect(cake)">
    <span class="badge">
      {{cake.id}}
    </span>
    {{cake.name}}
  </li>
</ul>

<h1 *ngIf="selectedCake">{{selectedCake.name}} Details!</h1>
<div *ngIf="selectedCake" class="content">
    <div>
      <img src="./assets/imgs/selectedCake.picUrl">
    </div>
    <div class="detail">
      <div>
        {{selectedCake.id}}
      </div>
      <div>
        {{selectedCake.name}}
      </div>
  </div>
</div>

