<h1 *ngIf="cake">
  {{cake.name}} Details!</h1>
<div class="content">
  <div>
    <img src="./assets/imgs/{{cake.picUrl}}">
  </div>
  <div class="detail">
    <div>
      {{cake.id}}
    </div>
    <div>
      {{cake.name}}
    </div>
  </div>
  <div class="btn">
    <ng-template #input_content>
      <input [(ngModel)]="cake.name">
      <div class="editBtn" (click)="editStatus()">
        <div class="text">OK!</div>
      </div>
    </ng-template>
    <div *ngIf="isNeedEditting;else input_content" class="editBtn" (click)="editStatus()">
      <div class="text">Edit</div>
    </div>
  </div>
</div>